.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 2px solid transparent;
}

a:hover {
    border: 2px solid black;
}

.Question{
    background-color: pink;
    height: 60px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.options {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-top: 2px
    
}

.options a {
    border: 1px solid black;
    margin: 10px;
    padding: 5px 20px;
    border-radius: 14px;
    transition: all 0.5s ease;
}

.options a:hover {
    background-color: black;
    color: white;
}

.hero-section {
    height: 100px;
    width: 100%;
    background-color: rgb(185, 185, 250);
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}
.hero-intro {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 207, 207);
}