.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 2px solid transparent;
}

a:hover {
    border: 2px solid black;
}